@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
/* Font-family: Lora,varela */

.top{
  font-family: 'Josefin Sans',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  height: 50px;
  position: sticky;
  background-color: white;
  top:0;
  display: flex;
  align-items: center;
  z-index: 100;
}

.topLeft ,.topRight{
  flex: 3; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCenter{
  flex: 6;
}

.topIcon{
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topImg{
  margin-top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topList{
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.topListItem{
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topSearchIcon{
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}