@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);


.header{
  margin-top: 60px;
  font-family: 'Lora', Times, serif;
}

.headerTitles{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
}

.headerTitleSm{
  position: absolute;
  top: 18%;
  font-size: 20px;
}

.headerTitleLg{
  position: absolute;
  top: 20%;
  font-size: 100px; 
}

.headerImg{
  width: 100%;
  height: 450px;
  margin-top: 90px;
  object-fit: cover ;
}